ion-menu{
     --background: url("/assets/img/mal1.jpg");
    }

ion-input{
  display: inline;
  width: 10px;
  height: 10px;
  padding: .5px;
  margin: .1px
}

ion-icon {
  font-size: 25px;
  }

h3{
  text-align: center; 
  }

  ion-content{
    --background: linear-gradient(197deg, #33CCFF 5%, #33CCCC 20.5%,#6699CC 33.33%) !important;
  }



  


